# test 1
# Instance-specific config for TNNT bot.
# copy this to tnnt/botconf.py somewhere in your PYTHONPATH
# place an empty __init__.py in the tnnt directory
# make changes as appropriate
#

# server tag - mandatory for all servers
SERVERTAG = "hdf-test"
# connection
HOST, PORT = "chat.us.freenode.net", 6697

# Nick, channel, etc
#CHANNELS = ["#tnnt"] # ignored on slave bots.
CHANNELS = ["#bottest"] # ignored on slave bots.
NICK = "TnntBot_ChangeMe"
USERNAME = "tnntbot"
REALNAME = "TNNT Reporting bot (" + SERVERTAG + ")"
# working directory (need write permission - some files will be created here)
BOTDIR = "/opt/tnntbot"
# file containing the nickserv password for NICK
PWFILE = BOTDIR + "/pw"
# file containing OAuth info for twitter.
# see http://mike.verdone.ca/twitter/ fir details
# leave this out to disable twitter
#TWITAUTH = BOTDIR + "/.twitter_oauth"

# file/web paths for dumplogs and ttyrecs.
# subfolders are still hardcoded in the main bot.
# trailing slash is required!
FILEROOT="/opt/nethack/chroot/"
WEBROOT="https://FIXME/"
# directory to place channel logs.
# comment out for no logging
LOGROOT="/var/www/FIXME/tnnt/irclog/"
# Name of bot in our channel that bridges discord network
DCBRIDGE = "rld"

# Enable GitHub commit monitoring (optional, default False)
# Set to True to enable monitoring and announcing new commits
ENABLE_GITHUB = False

# GitHub repositories to monitor (list of dicts with repo and branch)
# Each entry should have 'repo' (format: "owner/repo") and 'branch' (usually "master" or "main")
GITHUB_REPOS = [
    # {"repo": "tnnt-devteam/tnntbot", "branch": "main"},
    # Add more repositories here as needed
]

# people allowed to do certain admin things.
# This is not terribly secure, as it does not verify the nick is authenticated. 
ADMIN = ["K2", "Tangles"]

# Remote servers section:
# If this bot is the "master", we need to tell it where the remote servers are,
# and the name of the "slave" bot that looks after each server.
#            alias: (fqdn-of-server, remote-bot, path-to-local-copy-of-xlogfiles)
# only define one of REMOTES or MASTERS
REMOTES = { "hdf-eu": ("eu.hardfought.org", "tnnt-eu", "/var/www/xlogs-eu"),
            "hdf-au": ("au.hardfought.org", "tnnt-au", "/var/www/xlogs-au")}
# If we're a remote "slave" bot, MASTERS defines who we announce to, and who we take
# queries from for !whereis, etc.
#MASTERS = ["TnntBot_ChangeMe"]

#OPTIONAL TEST flag.  Ignores dump URL file path check
# and possiblty does other things from time to time 
TEST = True

# tournament and scoreboard related stuff:
YEAR = "2018"
CONFIGJSON = BOTDIR + "/config.json" # specify full path here
SCOREBOARDJSON = BOTDIR + "/scoreboard.json" # specify full path here

# Continue to announce this many  days after tournamnet ends (though nothing in this period will count on the scoreboard)
GRACEDAYS = 5
